Importing all the dependencies

In [ ]:
import numpy as np      # numpy is used to make numpy array (Numerical computing)
import pandas as pd     # pandas is used for converting data into Dataframe (Data Manipulation)
from sklearn.preprocessing import StandardScaler  # For standardizing the data between the range of 0 to 1.
from sklearn.model_selection import train_test_split  # for splitting the data into train data and test data.
from sklearn import svm  # model is support vector machine
from sklearn.metrics import accuracy_score # Accuracy measure

Data collection and Analysis

PIMA Diabetes Dataset

In [ ]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')  # Read the dataset.

In [ ]:
# Printing the top 5 records of datasets
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
# Number of rows and  columns in this datasets
diabetes_dataset.shape

(768, 9)

In [ ]:
# Getting the statistical measures of the data
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

Importing all dependencies

In [ ]:
import numpy as np  # numpy for creating numpy array (Numerical computing)
import pandas as pd  # pandas for converting data into Dataframe ( Data Manipulation)
from sklearn.preprocessing import StandardScaler # for standardizing the data between the range of  to 1.
from sklearn.model_selection import train_test_split  # for splitting the data into taining data and testing Data.
from sklearn import svm  # Model --> Support Vector Machine
from sklearn.metrics import accuracy_score  # Accuracy measuring of model

Data collection and Analysis

In [9]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [11]:
# Printing the first 5 records of the datasets
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [12]:
# Number of rows and columns in this dataset
diabetes_dataset.shape

(768, 9)

In [13]:
# Getting statistical measures of the datset
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [14]:
# Counting the Diabetic or Non-Diabetic value in target attribute.
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> Non-Diabetic

1 --> Diabetic

In [17]:
# Group the data based on the labels
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [18]:
# Separating the data and labels
x = diabetes_dataset.drop(columns='Outcome', axis = 1)
y = diabetes_dataset['Outcome']

In [19]:
print(x)
print(y)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [20]:
scaler = StandardScaler()

In [21]:
scaler.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [25]:
standardized_data = scaler.transform(x)

In [26]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [27]:
x = standardized_data
y = diabetes_dataset['Outcome']

In [28]:
print(x)
print(y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, stratify = y, random_state=2) # stratify = y means proportion of data become approx-equal.

In [30]:
print(x.shape, x_train.shape, x_test.shape)

(768, 8) (614, 8) (154, 8)

Training the model on training data

In [31]:
classifier = svm.SVC(kernel='linear')

In [32]:
# Training the support vector machine classifier
classifier.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Model Evaluation

Accuracy_score

In [33]:
# Accuracy score on training Data
x_train_prediction = classifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [35]:
print(training_data_accuracy)

0.7866449511400652

In [36]:
# Accuracy score on test Data
x_test_prediction = classifier.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [37]:
print(testing_data_accuracy)

0.7727272727272727

Making a Predictive system

In [39]:
input_data = (5,166,72,19,175,25.8,0.587,51)

# Changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# Reshape the array as we are predicting for one record (instance).
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The person is diabetic